  body {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(src/fondos/fondo.jpg);
      background-attachment: fixed;
      background-size: cover;
      width: 100%;
      margin: 0px;
  }
  
  .cabecera {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      width: 100%;
      background-color: rgb(256, 256, 256, 0.9);
      margin-top: 0em;
  }
  
  .logo {
      align-self: center;
  }
  
  .logoRedes {
      height: 25px;
      width: 25px;
      align-self: center;
  }
  
  .contacto {
      margin-right: 100px;
      display: flex;
      flex-direction: row;
      height: 50px;
  }
  
  .contacto p {
      text-align: center;
      align-items: center;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  .redes {
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 100px;
      width: 204px;
  }
  
  .iconos {
      display: flex;
      justify-content: space-around;
  }
  
  .relleno {
      height: 300px;
      width: 100%;
      /* background-image: url(src/fondo.jpg); */
      background-size: cover;
      background-attachment: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .relleno p {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      color: white;
<<<<<<< HEAD
      font-size: 20px;
=======
      font-style: initial;
>>>>>>> 63063b8708cdc513ab438df5ca8ee1fc585dbc68
  }
  
  .contenedor {
      height: 450px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 20px;
      border-radius: 5px;
      background-color: rgb(256, 256, 256, 0.9);
  }
  
  .contenedorTarjetas a {
      text-decoration: none;
  }
  
  .tarjeta {
      background-size: cover;
      background-position: center;
      height: 400px;
      width: 300px;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      margin: 30px 0px 30px 0px;
  }
  /* fondos tarjetas */
  
  .tar0 {
      background-image: url(src/fondos/fondoDesayunos.jpg);
  }
  
  .tar1 {
      background-image: url(src/fondos/fondoPicada.jpeg);
  }
  
  .tar2 {
      background-image: url(src/tortaAzul.jpeg);
  }
  
  .tar3 {
      background-image: url(src/fondos/fondoTarta1.jpeg);
  }
  
  section {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 90%;
  }
  
  .imgProducto h2 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(256, 256, 256, 0.9);
      color: black;
      text-decoration: none;
      width: 100%;
  }
  
  footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      height: 100px;
      position: fixed;
      top: 87%
  }
  
  .contacto {
      margin-left: 30px;
      color: white;
  }
  
  .redes {
      margin-right: 30px;
      color: white;
  }
  
  @media (max-width: 500px) {
      .cabecera {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          border-radius: 5px;
          width: 100%;
          margin-top: 0em;
          position: fixed;
          margin-right: 0em;
          height: 90px;
      }
      .contacto {
          display: flex;
          flex-direction: row;
          margin: 0em;
      }
      .redes {
          flex-direction: column;
          justify-content: center;
          margin: 0em;
      }
      .contenedor {
          height: 1900px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          margin-bottom: 20px;
          border-radius: 5px;
          align-items: center;
      }
      section {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-content: center;
          width: 90%;
      }
      .menu ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          margin-right: 20px;
          vertical-align: auto;
      }
      footer {
          position: static;
          background-color: rgb(256, 256, 256, 0.9);
      }
      footer div p {
          color: black;
      }
      body {
          background-size: cover;
      }
      .centradoCel {
          display: flex;
          justify-content: center;
          align-items: center;
      }
  }