/* Fotos de desayunos */


/* invernal */

.fotoDesayunoInvernalCaja {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/Invernal/invernal1.jpg);
}

.fotoDesayunoInvernalCaja:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/Invernal/invernal2.jpg);
}


/* Clasico */

.fotoDesayunoClasicoCaja {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/clasico/clasico1.jpg);
}

.fotoDesayunoClasicoCaja:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/clasico/clasico2.jpg);
}


/* Premium */

.fotoDesayunoPremiumCaja {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/Premium/premium1.jpg);
}

.fotoDesayunoPremiumCaja:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/Premium/premium2.jpg);
}


/* Matero */

.fotoDesayunoMateroCaja {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/Matero/matero1.jpg);
}

.fotoDesayunoMateroCaja:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/Matero/matero2.jpg);
}


/* Americano */

.fotoDesayunoAmericanoCaja {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/Americano/Americano1.jpeg);
}

.fotoDesayunoAmericanoCaja:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/Americano/Americano2.jpeg);
}


/* Boca */

.fotoDesayunoBocaCaja {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/Boca/boca1.jpg);
}

.fotoDesayunoBocaCaja:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/Boca/boca2.jpg);
}


/* River */

.fotoDesayunoRiverCaja {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/River/river1.jpg);
}

.fotoDesayunoRiverCaja:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/River/river2.jpg);
}


/* 15 */

.fotoDesayuno15Caja {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/15/151.jpg);
}

.fotoDesayuno15Caja:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/15/152.jpg);
}


/* Infantil */

.fotoDesayunoInfantilCaja {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/Infantil/infantil1.jpg);
}

.fotoDesayunoInfantilCaja:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Cajas/Infantil/infantil2.jpg);
}

@media (max-width: 700px) {
    footer {
        margin: 0px;
    }
    /* efectos responsive, el hover no anda en telefonos */
    /* invernal */
    .fotoDesayunoInvernalCaja:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Cajas/Invernal/invernal2.jpg);
    }
    /* Clasico */
    .fotoDesayunoClasicoCaja:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Cajas/clasico/clasico2.jpg);
    }
    /* Premium */
    .fotoDesayunoPremiumCaja:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Cajas/Premium/premium2.jpg);
    }
    /* Matero */
    .fotoDesayunoMateroCaja:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Cajas/Matero/matero2.jpg);
    }
    /* Americano */
    .fotoDesayunoAmericanoCaja:active {
        transition: linear 0.1s;
        background-image: url();
    }
    /* Boca */
    .fotoDesayunoBocaCaja:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Cajas/Boca/boca2.jpg);
    }
    /* River */
    .fotoDesayunoRiverCaja:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Cajas/River/river2.jpg);
    }
    /* 15 */
    .fotoDesayuno15Caja:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Cajas/15/152.jpg);
    }
    /* Infantil */
    .fotoDesayunoInfantilCaja:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Cajas/Infantil/infantil2.jpg);
    }
}