/* body {
    font-family: roboto-liviano;
} */

@font-face {
    font-family: roboto;
    src: url("../src/fuente/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto-liviano;
    src: url("../src/fuente/Roboto-Light.ttf");
}

.carrusel {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.botonesCarrusel {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.botonesCarrusel button {
    width: 50%;
    background-color: #f4e5b3;
    border: 0px;
    height: 44px;
    border-radius: 0px;
    outline: none;
    font-size: 18px;
    /* sombras */
    -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.37);
}

.adelante {
    border-left: 1px rgb(114, 112, 112) solid;
}

.atras {
    border-right: 1px rgb(114, 112, 112) solid;
}

.foto {
    width: 100%;
}

.contenedorDesayuno {
    margin-top: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.contenedorDescripcion {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0px;
    height: auto;
}

.nombreDesayuno {
    text-align: center;
}

.descripcion {
    text-align: center;
    font-size: 23px;
    font-style: regular;
    width: 90%;
    margin-top: 0px;
    padding-top: 10px;
    /* margin-bottom: 50px; */
    /* sombras */
    -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.37);
}

.pedidoWhatsapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
    margin-bottom: 50px;
    background-color: #0dc143;
    width: 70%;
    max-width: 230px;
    height: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border-radius: 5px;
}

.linkWhatsapp {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.whatsappBlanco {
    height: 50px;
}

@media (min-width: 700px) {
    .contenedorDesayuno {
        width: 60%;
        min-width: 340;
        height: auto;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        min-width: 700px;
        -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.37);
        -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.37);
        box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.37);
    }
    .contenedorDescripcion {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }
    .carrusel {
        width: 40%;
        margin: auto;
    }
    .descripcion {
        text-align: center;
        font-size: 23px;
        font-style: regular;
        width: 40%;
        margin: auto;
    }
    .nombreDesayuno {
        margin-top: 0px;
    }
    .pedidoWhatsapp {
        /* margin-bottom: 20px; */
        margin-top: 50px;
    }
}


/* 
@media (min-width: 1050px) {
    .contenedor {
        display: grid;
        grid-template-columns: 350px 350px 350px;
    }
}

@media (min-width: 1400px) {
    .contenedor {
        display: grid;
        grid-template-columns: 350px 350px 350px 350px;
    }
} */