.bodyDesayunos {
    /* background-image: url(../src/fondos/fondo.jpg); */
    background-color: #EACFE3;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    width: 100%;
}

.margen {
    margin-left: 60px;
    width: 400px;
    /* transition: linear 0.1s; */
}

.back {
    height: 0px;
    width: 0px;
}

.seccion1 {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(256, 256, 256, 0.7);
    /* align-items: center; */
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.descripcion {
    margin-right: 15%;
    text-align: center;
    /* font-style: italic; */
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
    align-self: center;
}

.contenedorTarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion1 {
    margin: 50px 0px 50px 0px;
}

#tituloDesayunos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

#nombreDesayuno {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration-line: underline;
}

.precio {
    font-weight: bold;
}

.changePicture {
    transform: rotate(-90deg);
    height: 50px;
    background-color: rgb(256, 256, 256, 0.3);
    border-radius: 50%;
    position: relative;
    z-index: 0;
}


/* Fotos de desayunos */


/* invernal */

.fotoDesayunoInvernal {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/Invernal/invernal.jpg);
}

.fotoDesayunoInvernal:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/Invernal/Invernal2.jpg);
}


/* Clasico */

.fotoDesayunoClasico {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/clasico/clasico1.jpg);
}

.fotoDesayunoClasico:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/clasico/clasico2.jpg);
}


/* Premium */

.fotoDesayunoPremium {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/Premium/Premium.jpg);
}

.fotoDesayunoPremium:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/Premium/Premium1.jpg);
}


/* Matero */

.fotoDesayunoMatero {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/Matero/Matero1.jpg);
}

.fotoDesayunoMatero:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/Matero/Matero2.jpg);
}


/* Americano */

.fotoDesayunoAmericano {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/Americano/americano1.jpeg);
}

.fotoDesayunoAmericano:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/Americano/americano2.jpeg);
}


/* Boca */

.fotoDesayunoBoca {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/Boca/Boca1.jpg);
}

.fotoDesayunoBoca:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/Boca/Boca2.jpg);
}


/* River */

.fotoDesayunoRiver {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/River/River1.jpg);
}

.fotoDesayunoRiver:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/River/river2.jpg);
}


/* 15 */

.fotoDesayuno15 {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/15/15_1.jpeg);
}

.fotoDesayuno15:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/15/15_2.jpeg);
}


/* Infantil */

.fotoDesayunoInfantil {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/Infantil/infantil1.jpg);
}

.fotoDesayunoInfantil:hover {
    transition: linear 0.1s;
    background-image: url(../src/Desayunos/Bandejas/Infantil/infantil2.jpg);
}


/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}

@media (max-width: 700px) {
    #tituloDesayunos {
        margin-top: 120px;
    }
    #nombreDesayuno {
        position: static;
    }
    .back {
        height: 40px;
        width: 40px;
        position: absolute;
        left: 15px;
        top: 27px;
    }
    .seccion1 {
        flex-direction: column;
        width: 100%;
        height: 800px;
        align-items: center;
    }
    .tarjeta {
        width: 90%;
        margin: 0em;
        margin-top: 1em;
    }
    /* efectos responsive, el hover no anda en telefonos */
    /* invernal */
    .fotoDesayunoInvernal:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Bandejas/Invernal/Invernal2.jpg);
    }
    /* Clasico */
    .fotoDesayunoClasico:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Bandejas/clasico/clasico2.jpg);
    }
    /* Premium */
    .fotoDesayunoPremium:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Bandejas/Premium/Premium1.jpg);
    }
    /* Matero */
    .fotoDesayunoMatero:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Bandejas/Matero/Matero2.jpg);
    }
    /* Americano */
    .fotoDesayunoAmericano:active {
        transition: linear 0.1s;
        background-image: url();
    }
    /* Boca */
    .fotoDesayunoBoca:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Bandejas/Boca/Boca2.jpg);
    }
    /* River */
    .fotoDesayunoRiver:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Bandejas/River/river2.jpg);
    }
    /* 15 */
    .fotoDesayuno15:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Bandejas/15/15_2.jpg);
    }
    /* Infantil */
    .fotoDesayunoInfantil:active {
        transition: linear 0.1s;
        background-image: url(../src/Desayunos/Bandejas/Infantil/infantil2.jpg);
    }
}